<html>

<body>
  <h1>{{ .title }}</h1>
  <div>
    <select id="type">
      <option value="tcp" selected>TCP</option>
      <option value="udp">UDP</option>
    </select>
    <input id="ip" type="text" placeholder="pleace input ip" />
    <input id="port" type="text" placeholder="pleace input port" />
    <input  type="button" value="确认" onclick="submit()"/>
  </div>
  <div>
    <textarea id="res">
      在w3school，你可以找到你所需要的所有的网站建设教程。
      </textarea>
  </div>
  <div>
</body>
<script>

  function submit(e) {
    const type = document.getElementById("type").value;
    const ip = document.getElementById("ip").value;
    const port = document.getElementById("port").value;

    fetch(`/scan?type=${type}&ip=${ip}&port=${port}`)
      .then(res => res.json())
      .then(data => {
        console.log(data)
      });
  }

</script>

</html>